* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    font-family: fantasy;
    font-size: 20px;
    width: 100%;
    height: 100vh;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.outer-circle {
    width: 270px;
    height: 270px;
    border-radius: 50%;
    background-color: rgb(75, 112, 118);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}


.inner-circle {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-image: url(https://is2-ssl.mzstatic.com/image/thumb/Purple126/v4/63/f5/78/63f57837-28cb-2439-fc66-7e7309afdbdb/source/512x512bb.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.laps {
    width: 250px;
    height: 300px;
    overflow: auto;
}

.text {
    color: black;
    font-size: 25px;
}

.minute {
    font-size: 45px;
}

.sec {
    font-size: 45px;
}

.msec {
    font-size: 45px;
}

.button-wrapper {
    width: 250px;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    margin-left: 2.5%;
}

.button {
    font-family: monospace;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 5px solid rgb(75, 112, 118);
    background-color: rgb(255, 245, 231);
    color: black;
    cursor: pointer;
}

.button:hover {
    background-color: rgb(222, 209, 193);
    color: black;
}

.laps {
    list-style: none;
    color: black;
    width: 250px;
    height: 250px;
    overflow: auto;
    position: relative;
    margin-top: 30px;
}

.laps::-webkit-scrollbar {
    display: none;
}

.lap-item {
    font-family: monospace;
    display: inline-block;
    width: 100%;
    padding: 10px;
    text-align: center;
    border: 5px solid rgb(75, 112, 118);
    background-color: rgb(227, 196, 188);
    border-radius: 50px;
    margin-bottom: 15px;
}

.number {
    color: black;
}

.time-stamp {
    margin-left: 25px;
    display: inline-block;
}

.lap-clear-button {
    display: block;
    font-family: monospace;
    position: fixed;
    z-index: 1000;
    bottom: 35px;
    left: 50%;
    transform: translate(-50%);
    width: 130px;
    padding: 10px 0;
    border-radius: 50px;
    background-color: rgba(255, 245, 231, 0.484);
    border: 2px solid rgb(75, 112, 118);
    cursor: pointer;
}

.lap-clear-button:hover {
    background-color: rgb(222, 209, 193);
    color: black;
}

.hidden {
    visibility: hidden;
}